
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

/*  formulário  */
form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

/* inputs e select do formulário */
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-top: 5px;
}

/*  caixa de descrição */
textarea#descricao {
    height: 200px; 
}

/* botão  */
button {
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

/*  botões de formatação */
form div {
    margin-bottom: 5px;
}

/*  título */
h1 {
    text-align: center;
    margin-bottom: 20px;
}
/*nota */
.nota {
  background-color: rgba(72, 61, 139, 0.15);
  border: solid 8px transparent;
  border-left-color: #483d8b;
  padding: 0.2vw;
  margin-top: 2vh;
  display: block;
}

#editor {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 300px;   
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1.5;
}

.btn-voltar {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 24px;
    background-color: #0056b3;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    width: auto;      
}