/* centraliza todo o conteúdo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

/*  formulário  */
form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

/* inputs e select com largura total do formulário */
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-top: 5px;
}

/* aumenta o tamanho da caixa de descrição */
textarea#descricao {
    height: 200px; 
}

/* botão  */
button {
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

/* barra de botões de formatação */
form div {
    margin-bottom: 5px;
}

/* centraliza o título */
h1 {
    text-align: center;
    margin-bottom: 20px;
}
/*nota roxa*/
.nota {
  background-color: rgba(72, 61, 139, 0.15);
  border: solid 8px transparent;
  border-left-color: #483d8b;
  padding: 0.2vw;
  margin-top: 2vh;
  display: block;
}

#editor {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 300px;   /* antes era 150px */
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1.5;
}