
body {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* container */
.container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

/* centraliza o título */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* inputs e textarea do container */
input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-top: 5px;
}

/*  caixa de descrição */
textarea#descricao {
    height: 200px; 
}

/* botão */
button {
    padding: 8px 16px;
    font-size: 1rem;
    margin-top: 10px;
}

/* formulários */
form {
    margin-bottom: 20px;
}
