
body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* alinhado ao topo */
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* formulário  */
form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

/* inputs, select e textarea do formulário */
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    margin-top: 5px;
}

/*  caixa de conteúdo */
textarea#conteudo {
    height: 200px; 
}

/* botões */
button {
    padding: 8px 16px;
    font-size: 1rem;
    margin-top: 10px;
}

/* botões de formatação */
form div {
    margin-bottom: 5px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

#editor {
            border: 1px solid #ccc;
            padding: 5px;
            min-height: 150px;
        }

        .editor-buttons button {
            margin-right: 5px;
            cursor: pointer;
        }

        #editor ul {
            list-style-type: disc;
            padding-left: 1.5rem;
        }

        #editor ol {
            list-style-type: decimal;
            padding-left: 1.5rem;
        }

        #editor li {
            margin-bottom: 0.3rem;
        }