/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Espaço para não esconder o conteúdo atrás do header */
body {
    padding-top: 4.5rem; 
    font-size: 1rem;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Main respeitando o sumário lateral */
main {
    flex: 1;
    margin-left: 18rem; 
    padding: 1.5rem;
}

/* Artigos */
article.card {
    margin-bottom: 1.5rem;
    padding: 1rem;
}

/* Rodapé */
footer {
    margin-left: 18rem; 
    padding: 1.5rem;
}
/* Linha preta */
.linha {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-right: 25px;
}

/* listas */
main ul, main ol {
    margin: 0;           
    padding-left: 1.2rem; 
    list-style-position: outside;
}

main li {
    margin: 0;           
    padding: 0;          
    line-height: 1.4;    
}

/* notas */
.nota {
  background-color: rgba(72, 61, 139, 0.15);
  border: solid 8px transparent;
  border-left-color: #483d8b;
  padding: 0.2vw;
  margin-top: 2vh;
  display: block;
}