/*tabela*/
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/*botao*/

.btn {
    padding: 4px 8px;
    margin-right: 5px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}

.btn.edit {
    background-color: #1e5e3a;
}

.btn.delete {
    background-color: #8B0000;
    border: none;
    cursor: pointer;
}

.btn.ordenar {
    background-color: #5a0099;
}

.btn-voltar {
    display: inline-block;
    padding: 6px 12px;
    background-color: #0056b3;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    width: auto;
}

.btn-voltar {
    align-self: center;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 20px;
}
