
#sumario {
    position: fixed;
    top: 4.5rem; 
    left: 0;
    width: 18rem; /* ~288px para leitura confortável */
    height: calc(100vh - 4.5rem);
    overflow-y: auto;
    padding: 1.5rem;
    font-size: 1rem;
    line-height: 1.6;
   background-color: #f2f2f2;
}

/* Listas e sublistas do sumário */
#sumario ul {
    list-style: none;
    padding-left: 0;
}

#sumario li {
    margin-bottom: 0.75rem;
}

#sumario li ul {
    padding-left: 1rem; 
}

#sumario h2{
    color: gray;
    margin-bottom: 1rem;

}
