
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2rem;
    padding-top: 6rem; 
    box-sizing: border-box;
}

/* Conteúdo principal */
main, form {
    width: 100%;
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título centralizado */
h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Mensagem de sucesso ou erro */
p {
    text-align: center;
    margin-bottom: 1rem;
}

/* Formulário */
form {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* form espaçamento */
form div {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Labels e inputs  */
form label {
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Botão  */
form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

/* voltar  */
form a {
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
}

/* Responsivo */
@media (max-width: 480px) {
    form input, form button {
        font-size: 0.9rem;
    }
}

/* Formulario */
.erro {
    color: red;
    font-size: 0.9em;
    margin-top: 3px;
}

.sucesso {
    color: green;
    font-size: 0.9em;
    margin-top: 3px;
}

.btn {
    display: inline-block;
    padding: 12px 20px; 
    min-height: 44px; 
    min-width: 44px; 
    text-decoration: none;
    text-align: center;
}


.btn-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    min-height: 44px;
    min-width: 44px;
    margin: 8px 0; 
}